configuration{
	display-drun : "Applications:";
	display-window: "Windows:";
	drun-display-format : "{icon} {name}";
	modi : "window,drun";
	show-icons: true;
	icon-theme: "Papirus";
}







@theme "/usr/share/rofi/themes/rounded-gray-dark.rasi"
